main{
  background-color: #9B99D1;
  width: 100vw;
  min-height: 100vh;
}

.post-main-info{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  height: 80vh;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  overflow-y: hidden;
}

.right > img{
  width: 100%;
}
