:root {
  --main-color: #F8CC66;
  --main-text-color: #110E07;
  --image-color: #dbc48f;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body{
  background-color: var(--main-color);
}


h1{
  font-size: 60px;
}
